table,
button,
option {
    background-color: white;
}

body {
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    background-color: lightgrey;
}

.main-container {
    max-width: 100% !important;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
}

form button {
    width: 55%;
}

.form-group {
    margin: 10px;
    width: 50%;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100% !important;
}

.form-container {
    width: 100%;
}

.list {
    margin-top: 20px;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
}

.dataBTN {
    display: flex;
    justify-content: center;
}
