.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-group {
    margin-top: 0;
}

tbody {
    border: 2px solir white !important;
}

td:first-of-type {
    border-right: 1px solid white !important;
    text-transform: capitalize !important;
}
